<div class="container">
    <div class="row">
        <div class="col">
            <h1>Gestion des rôles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white border-primary">
                <div class="card-header bg-primary">Liste des rôles</div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-bordered table-stripped">
                            <tr class="bg-primary text-white">
                                <th>Nom du rôle</th>
                            </tr>
                            @if ((roles$ | async)?.length == 0) {
                              <tr>
                                <td>Aucun rôle trouvé dans la base données !</td>
                              </tr>
                            }
                            @for (r of roles$ | async; track $index; let i = $index) {
                              <tr [class.bg-info]="i % 2 == 0" [class.text-black]="i % 2 != 0">
                                <td>{{ r.name }}</td>
                              </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white border-primary">
                <div class="card-header bg-primary">Création d'un rôle</div>
                <div class="card-body">
                    <div class="card-text">
                        <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
                            <div class="form-group required" [class.has-danger]="name?.invalid && (name?.dirty || name?.touched)">
                                <label for="name" class="control-label text-black">Nom du rôle</label>
                                <input id="name"
                                       type="text"
                                       formControlName="name"
                                       class="form-control"
                                       [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)"
                                       [class.is-valid]="name?.valid && (name?.dirty || name?.touched)"
                                />
                                <div class="form-helper"></div>
                                @if ((name?.dirty || name?.touched) && name?.status === 'PENDING') {
                                  <div class="text-warning">Validation en cours...</div>
                                }
                                @if (name?.invalid && (name?.dirty || name?.touched)) {
                                  <div class="invalid-feedback">
                                    @if (name?.errors?.['required']) {
                                      <div>Le nom est obligatoire.</div>
                                    }
                                    @if (name?.errors?.['minlength']) {
                                      <div>Le nom doit contenir au moins 2 caractères.</div>
                                    }
                                    @if (name?.errors?.['maxlength']) {
                                      <div>Le nom doit comporter maximum 150 caractères.</div>
                                    }
                                    @if (name?.errors?.['uniqueRoleName']) {
                                      <div>Le nom du rôle existe déjà.</div>
                                    }
                                  </div>
                                }
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <button class="btn btn-primary" type="submit" [disabled]="!creationForm.valid">Enregistrer</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
